* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
}

.full-width { width: 100%; }

.full-size { width: 100%; height: 100%; }

.non-rounded { border-radius: unset !important;  }

svg[role="img"] { display: block; }
